@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", serif;
}

ul, li, a{
    list-style: none;
    text-decoration: none;
    color: black;
}
/* shared style */
.container{
    max-width: 1440px ;
    margin: 30px auto;
}


.ham-menu{
    display: none;
}

.add-product{
    display: none;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar>h1{
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}

.nav-item{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
.nav-item>li{
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
}


/* banner section */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 90px;
}
.banner-title{
    width: 37rem;
    font-size: 52px;
    font-weight: 700;
    line-height: 70px;
}

.banner-disc{
    margin: 20px 0;
    width: 36rem;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
}

.btn{
    border-radius: 41px;
    padding: 10px 24px 10px 24px;
    border: none;
    color: white;
    background: rgb(224, 44, 109);
    transition: 0.3s;
}
.btn:hover{
    background: white;
    color: black;
    border: 1px solid rgb(224, 44, 109);
}

.banner-image{
    background: url(../images/Circle\ design.svg);
}

/* brand style */

.brand{
    margin-top: 150px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.76);
    padding-bottom: 20px;
}

.brand-site{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
}

/* popular collection style */
.collection{
    margin-top: 90px;
}
.collection-header{
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    line-height: 70px;
    margin-bottom: 30px;
}

.popular-item{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    align-items: center;
    margin-left: 50px;
}
.popular-item-card{
    height: 25rem;
    width: 19rem;
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    background: rgb(255, 255, 255);
    padding: 20px;
}    

.popular-item-card{
    margin: 20px 0;
}






/* mobile device style responsive */
@media screen and (max-width: 576px) {

    .navbar{
        width: 90%;
        margin: 0 auto;
    }
    .ham-menu{
        display: block;
        text-align: center;
    }
    .add-product{
        display: block;
    }
    .nav-item{
        display: none;
    }
    .banner{
        flex-direction: column-reverse;
        width: 100%;
    }
    .banner-content{
        text-align: center;
    }
    .banner-title{
        width: 100%;
        font-size: xx-large;
        line-height: 50px;
        margin-top: 50px;
    }
    .banner-disc{
        width: 100%;
        font-size: large;
        line-height: 20px;
        margin: 18px 0;
    }
    .banner-image>img{
        height: 350px;
        text-align: center;
    }

    .brand{
        border: none;
        width: 100%;
        margin-left: 10px;
    }

    .brand-site{
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;
        align-items: center;
    }

    .brand-site>img{
        height: 24px;
    }

    .collection{
        width: 100%;
    }

    .popular-item{
        grid-template-columns: repeat(1, 1fr);
        margin-left: 15px;
    }
}